<!DOCTYPE html>
<html>
<head>
    <title>Site Connectivity Checker</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="main">
        <div id="logo-section">
            <h1 id="logo"><i class='bx bx-wifi'></i></h1>
        </div>
        <div id="entry-section">
            <h3 id="title">Site Connectivity Checker</h3>
            <form action="#" method="POST">
                <input type="text" id="url-entry" placeholder="{{url}}" name="url" required>
                <input type="submit" id="check-button" value="Check">
            </form>
            {% if status %}
                <p id="status"
                style="background-color: lightgreen;">online</p>
            {% endif %}
            {% if not status %}
                <p id="status"
                style="background-color: lightpink;">offline</p>
            {% endif %}
            <p id="notification">*</p>
        </div>
    </div>

    {% if notify %}
    <script>
        const notification = document.getElementById("notification");
        notification.style.color = "black";

        setTimeout(removeNotification, 2000);

        function removeNotification(){
            notification.style.color = "lightyellow";
        }
        
    </script>
    {% endif %}
</body>
</html>