<!DOCTYPE html>
<html>
<head>
    <title>Site Connectivity Checker</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="main">
        <div id="logo-section">
            <h1 id="logo">Site<br>Connectivity<br>Checker</h1>
        </div>
        <div id="entry-section">
            <input type="text" id="url-entry" placeholder="Enter a URL" required>
            <br>
            <button id="check-button">Check</button>
            <p id="status">status</p>
        </div>
    </div>
</body>
</html>