<!DOCTYPE html>
<html>
<head>
    <title>Site Connectivity Checker</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="main">
        <div id="logo-section">
            <h1 id="logo"><i class='bx bx-wifi'></i></h1>
        </div>
        <div id="entry-section">
            <h3 id="title">Site Connectivity Checker</h3>
            <input type="text" id="url-entry" placeholder="Enter a URL" required>
            <br>
            <button id="check-button">Check</button>
            <p id="status">status</p>
        </div>
    </div>
</body>
</html>